# Ignore raw data and large files
data/
*.csv.gz
*.parquet
*.duckdb

# Ignore dbt build artifacts
/target/
/dbt_packages/

# Python caches
__pycache__/
*.pyc
# Ignore service account keys
/workspaces/Data-Engineering-ZoomCamp/04.analytics-engineering/gcs.json
*.json
.bruin.yml
logs/runs
logs/*.log
*.py[cod]
# Ignore DuckDB databases
duckdb.db
*.duckdb
